header {
    background-color: #002d72; /* Dark blue background color */
    color: white;              /* White text color */
    padding: 5px;              /* Space inside the header */
    position: fixed;           /* Fix the header’s position relative to the viewport */
    top: 0;                    /* Position the header at the top of the viewport */
    width: 100%;               /* Make the header span the full width of the viewport */
    z-index: 100;              /* Ensure the header is above other content */
    height: 95px;              /* Set a fixed height for the header */    
    display: flex;             /* Use flexbox to align items */
    justify-content: center;   /* Center content horizontally */
    align-items: center;       /* Vertically center items */
    padding: 0 20px;           /* Add some padding on left and right */
}

header h1 {
    margin: 0;                 /* Remove default margin */
    font-size: 24px;           /* Adjust font size */
}

header img.tennis-ball {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    padding-left: 20px;
    padding-right: 20px;
    height: 80px; /* Adjust size as needed */
    width: auto;  /* Maintains aspect ratio */
}
header select.pagenavdropdown {
    position: absolute;
    top: 40px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    padding-left: 20px;
    padding-right: 20px;
    height: 20px; /* Adjust size as needed */
    width: auto;  /* Maintains aspect ratio */
}

/* Center the table in the container and add styling */
.table {
    width: 100%;  /* Full width of the column */
    margin-bottom: 20px;
}
/* Center the table text */
table.table {
    text-align: center;
    border-collapse: collapse;
}

/* Dark header */
.thead-dark {
    background-color: #343a40;
    color: white;
}

/* Table hover effect */
.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

/* Align the table in the center */
.container {
    text-align: center;
}