body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #002d72; /* Dark blue background color */
    color: white;             /* White text color */
    padding: 5px;            /* Space inside the header */
    text-align: center;       /* Center the text horizontally */
    position: fixed;          /* Fix the header’s position relative to the viewport */
    top: 0;                   /* Position the header at the top of the viewport */
    width: 100%;              /* Make the header span the full width of the viewport */
    z-index: 100;            /* Optional: Ensure the header is above other content */
    height: 95px;              /* Set a fixed height for the header */    
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;         /* Add padding to prevent overlap with the header */
    padding-bottom: 40px;      /* Add padding to prevent overlap with the footer */
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #002d72;
    color: white;
    position: fixed;
    width: 100%;
    height: 30px;              /* Set a fixed height for the footer */    
    bottom: 0;
}
