{% extends 'base.html' %}

{% block content %}
    <h2>About the author</h2>
        <h4>Eric Dubrow is an avid tennis player and fan, and an Information Technology consultant. Eric built this site in order to learn new developer skills and create a one stop shop to stay up to date on the latest tennis news and rankings.
            <br><br> <!-- Line break added -->
            Enjoy your time on the site and reach out if you have any questions or suggestion. 
        </h4>
        <h3>Contact Eric</h3>
        <a href="mailto:ericdubrow7@gmail.com">ericdubrow7@gmail.com</a>
{% endblock %}