{% extends 'base.html' %}

{% block main_class %}main-content--narrow{% endblock %}

{% block content %}
<h2 class="page-title">About the author</h2>
<div class="about-section">
    <p class="article-body">Eric Dubrow is an avid tennis player and fan, and an Information Technology consultant. Eric built this site in order to learn new developer skills and create a one stop shop to stay up to date on the latest tennis news and rankings.</p>
    <p class="article-body">Enjoy your time on the site and reach out if you have any questions or suggestions.</p>
</div>
<h3 class="section-title">Contact Eric</h3>
<p><a href="mailto:ericdubrow7@gmail.com">ericdubrow7@gmail.com</a></p>
{% endblock %}
