<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Tennis News Blog</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
        </nav>
        <img src="{{ url_for('static', filename='tennisballimage.png') }}" alt="Tennis Ball" class="tennis-ball"> 
        
        <!-- Dropdown Menu -->
        <select id="pageDropdown" class="pagenavdropdown" onchange="navigateToPage()">
            <option value="#">Select Page</option>
            <option value="{{ url_for('index') }}">Home</option>
            <option value="{{ url_for('rankings') }}">Rankings</option>
            <option value="{{ url_for('abouttheauthor') }}">About the author</option> 
            <option value="{{ url_for('questionspage') }}">Questions Page</option>            
        </select>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Tennis Blog</p>
    </footer>

    <!-- JavaScript for Dropdown Navigation -->
    <script>
        function navigateToPage() {
            var dropdown = document.getElementById("pageDropdown");
            var selectedPage = dropdown.value;
            if (selectedPage !== "#") {
                window.location.href = selectedPage;
            }
        }
    </script>
</body>
</html>
